html, body {
    height: 100%;
    background-color: #112;
  }

  body {
    font-family: 'Space Mono', monospace;
    line-height: 1.5;
    padding: 0;
    margin: 0;
  }

  .social-container {
    top: 5%;
    position: absolute;
    z-index: 99999;
  }

  .info {
    color: #f0fd56;
    font-size: 15px;
    position: absolute;
    top: 75%;
    left: 15%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }

  .signup {
    position: absolute;
    color: #f0fd56;
    font-size: 15px;
    z-index: 9998;
    top: 75%;
    left: 80%;
  }

  .email {
    background-color: #112;
    border: 1px solid #f0fd56;
    color: #f0fd56;
    font-size: 17px;
    width: 65%;
  }

  .inline {
    display: inline;
  }

  .button {
    font-family: 'Space Mono', monospace;
    background-color: #f0fd56;
    font-size: 17px;
    color: #112;
    border-style: none;
  }
  
  .social-logo {
    font-size: 5em;
    background: radial-gradient(transparent 65%, #ff0488 100%), linear-gradient(#ffcb55 0, #ff0488 100%);
    -webkit-animation: hue-rotate 60s ease-in-out infinite 5s;
            animation: hue-rotate 60s ease-in-out infinite 5s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked ~ label {
    -webkit-transform: translate(0, -0.65em);
            transform: translate(0, -0.65em);
    padding-bottom: 0.65em;
  }
  input[type="checkbox"]:checked ~ .scene {
    background-color: #00ffff;
    -webkit-animation: hue-rotate 60s linear infinite 0s;
            animation: hue-rotate 60s linear infinite 0s;
  }
  input[type="checkbox"]:checked ~ .scene .container {
    -webkit-filter: blur(0.75vw) contrast(3);
            filter: blur(0.75vw) contrast(3);
  }
  input[type="checkbox"]:checked ~ .scene .container .sun {
    background: radial-gradient(transparent 65%, #fd1 100%), linear-gradient(#f53 0, #fd1 100%);
    -webkit-animation: initial;
            animation: initial;
  }
  input[type="checkbox"]:checked ~ .scene .container .band {
    background-color: #5affff;
  }
  
  label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0.1em;
    font-size: 4em;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }

  .float {
    animation: float 3.5s ease-in-out infinite;
  }   
  
  .scene {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #112;
  }
  
  .container {
    position: relative;
    height: 30vw;
    width: 30vw;
    overflow: hidden;
  }
  
  .sun {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 30vw;
    height: 30vw;
    background: radial-gradient(transparent 65%, #ff0488 100%), linear-gradient(#ffcb55 0, #ff0488 100%);
    border-radius: 50%;
    -webkit-animation: hue-rotate 60s ease-in-out infinite 5s;
            animation: hue-rotate 60s ease-in-out infinite 5s;
  }
  
  .band {
    position: absolute;
    bottom: -6vw;
    width: 100%;
    height: 10%;
    background: #112;
    -webkit-animation: wave 10s linear infinite;
            animation: wave 10s linear infinite;
  }
  
  @-webkit-keyframes wave {
    0% {
      -webkit-transform: translateY(0) scaleY(1);
              transform: translateY(0) scaleY(1);
    }
    100% {
      -webkit-transform: translateY(-24vw) scaleY(0);
              transform: translateY(-24vw) scaleY(0);
    }
  }
  
  @keyframes wave {
    0% {
      -webkit-transform: translateY(0) scaleY(1);
              transform: translateY(0) scaleY(1);
    }
    100% {
      -webkit-transform: translateY(-24vw) scaleY(0);
              transform: translateY(-24vw) scaleY(0);
    }
  }
  @-webkit-keyframes hue-rotate {
    0% {
      -webkit-filter: hue-rotate(360deg);
              filter: hue-rotate(360deg);
    }
    100% {
      -webkit-filter: hue-rotate(0deg);
              filter: hue-rotate(0deg);
    }
  }
  @keyframes hue-rotate {
    0% {
      -webkit-filter: hue-rotate(360deg);
              filter: hue-rotate(360deg);
    }
    100% {
      -webkit-filter: hue-rotate(0deg);
              filter: hue-rotate(0deg);
    }
  }
  
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0px);
    }
}

@media all and (max-width: 980px) {
    body {
        background-position: center;
        background-size: 200vmax
    }
    .logo {
        width: 100%;
    }
    .info {
      left: 54%;
      width: 100%;
    }
}