.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-image: url("../img/anime-bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

@media all and (max-width: 980px) {
    body {
        background-position: center;
        background-size: 200vmax
    }
    .center {
        width: 100%;
    }
}